<div class="input__wrapper">
	<label *ngIf="label">{{ label }}</label>
	<div class="input__controls">
		<div *ngFor="let minute of minutes; let i = index" class="input__container">
			<input class="input input--minutes" type="number" [ngClass]="{'input--has-remove': minutes.length > 1}"
				[(ngModel)]="minutes[i]" (ngModelChange)="logMinutes()" min="0">
			<button class="button button__remove" *ngIf="minutes.length > 1" (click)="removeMinute(i)"><i
					class="fa-solid fa-xmark"></i></button>
		</div>
		<button class="button button__add" (click)="addMinute()" *ngIf="canEdit">+ Add minutes</button>
	</div>
</div>