.minute-input {
	--input-padding: 0.5rem;

	max-width: 3rem;
	background-color: var(--color-white);
	border: 0.0625rem solid var(--color-grey);
	border-radius: var(--input-border-radius);
	padding: var(--input-padding);

	&:focus-within {
		outline: 0.125rem solid var(--color-blue);
	}

	&--has-remove {
		border-radius: var(--input-border-radius) 0 0 var(--input-border-radius);
	}

	&__wrapper {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 0.5rem;
		align-items: center;
	}

	&__controls {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	&__container {
		display: flex;
		align-items: stretch;
	}

	input {
		padding-right: var(--input-padding);
		width: fit-content;
	}
}