<div class="container">
	<div class="schedule-options">
		<label *ngFor="let type of ['hourly', 'daily', 'weekly', 'monthly']">
			<input type="radio" name="scheduleType" [value]="type" [(ngModel)]="scheduleType" />
			{{ type | titlecase }}
		</label>
	</div>

	<app-hourly-schedule *ngIf="scheduleType === 'hourly'"></app-hourly-schedule>
	<app-daily-schedule *ngIf="scheduleType === 'daily'"></app-daily-schedule>
	<app-weekly-schedule *ngIf="scheduleType === 'weekly'"></app-weekly-schedule>
	<app-monthly-schedule *ngIf="scheduleType === 'monthly'"></app-monthly-schedule>
</div>