.schedule-options {
	--radio-size: 1rem;

	display: flex;
	gap: 1.5rem;

	label {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;

		input[type="radio"] {
			appearance: none;
			width: var(--radio-size);
			height: var(--radio-size);
			border: 0.0625rem solid var(--color-grey);
			border-radius: 50%;
			position: relative;
			cursor: pointer;
			outline: none;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: calc(var(--radio-size) / 3);
				height: calc(var(--radio-size) / 3);
				background-color: var(--color-white);
				border-radius: 50%;
				opacity: 0;
			}

			&:checked {
				background-color: var(--color-blue);

				&:before {
					opacity: 1;
				}
			}
		}
	}
}