<div class="input__wrapper">
	<label class="input__label" *ngIf="label">{{ label }}</label>
	<div class="input__controls">
		<div *ngFor="let time of times; let i = index; trackBy: trackByFn" class="input__container">
			<div class="input input--time" [ngClass]="{'input--has-remove': times.length > 1}">
				<i class="far fa-clock"></i>
				<input type="time" [(ngModel)]="times[i]" (ngModelChange)="logTimes()">
			</div>
			<button class="button button__remove" *ngIf="times.length > 1" (click)="removeTime(i)"><i
					class="fa-solid fa-xmark"></i></button>
		</div>
		<button class="button button__add" (click)="addTime()" *ngIf="canEdit">+ Add time</button>
	</div>
</div>