<div class="time-input">
	<label *ngIf="label" class="time-input__label">{{ label }}</label>
	<div class="time-input__controls">
		<!-- Handle time inputs -->
		<ng-container *ngIf="inputType === 'time'">
			<div *ngFor="let time of times; let i = index; trackBy: trackByFn" class="time-input__item">
				<div class="time-input__input time-input__input--time"
					[ngClass]="{'time-input__input--has-remove': times.length > 1}">
					<i class="far fa-clock"></i>
					<input type="time" [(ngModel)]="times[i]" (ngModelChange)="logItems()">
				</div>
				<button *ngIf="times.length > 1" (click)="removeItem(i)" class="button button__remove">
					<i class="fa-solid fa-xmark"></i>
				</button>
			</div>
		</ng-container>
		<!-- Handle number inputs -->
		<ng-container *ngIf="inputType === 'number'">
			<div *ngFor="let number of numbers; let i = index; trackBy: trackByFn" class="time-input__item">
				<input type="number" [(ngModel)]="numbers[i]" (ngModelChange)="logItems()" min="0"
					class="time-input__input time-input__input--minutes"
					[ngClass]="{'time-input__input--has-remove': numbers.length > 1}">
				<button *ngIf="numbers.length > 1" (click)="removeItem(i)" class="button button__remove">
					<i class="fa-solid fa-xmark"></i>
				</button>
			</div>
		</ng-container>
		<button (click)="addItem()" *ngIf="canEdit" class="button button__add">{{ buttonLabel }}</button>
	</div>
</div>