.calendar {
	--day-size: 2rem;

	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 0.5rem;
	max-width: 10rem;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;


	@media screen and (max-width: 320px) {
		--day-size: 1.5rem;
	}

	&__day {
		display: flex;
		justify-content: center;
		align-items: center;
		width: var(--day-size);
		height: var(--day-size);
		border-radius: calc(var(--day-size) / 2);
		cursor: pointer;
		background-color: var(--color-white);

		&:hover {
			background-color: var(--color-grey);
		}

		&.selected {
			background-color: var(--color-yellow);
		}
	}

	&__item {
		grid-column: span 3;
		display: flex;

		.button {
			flex-grow: 1;
		}
	}
}